{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

<style>
 #id_new_password1_helptext{
  color: rgb(190, 190, 190)
 }
</style>

<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto rounded-md shadow-md border-b-4 border-purple-600 bg-white  py-16 px-8 sm:w-full sm:max-w-md">
    <form action="" method="post">
      {% csrf_token %}
      <label for="{{ form.new_password1.id_for_label }}" class="block text-sm font-medium text-gray-700"> New Password</label>
      {{ form.new_password1|add_class:"appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm mt-4" |attr:"placeholder:Ex:24#deCaf" }}
       <div class="text-gray-400 mb-2 px-1 text-sm">
                {{ form.new_password1.help_text }}
       </div>
       
       <label for="{{ form.new_password2.id_for_label }}" class="block text-sm font-medium text-gray-700 mt-4"> Confirm Password</label>
       {{ form.new_password2|add_class:"appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm mt-4" |attr:"placeholder:Ex:24#deCaf" }}
        <div class="text-red-600 font-semibold mb-2 px-1 text-sm">
                 {{ form.new_password2.errors }}
        </div>

    
      <button  class="group relative w-full flex justify-center mt-10 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" type="submit">Confirm Password</button>
    </form>
  </div>
  

</div>

  
{% endblock content %}


  