{% extends 'base.html' %}

{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %} Add a Lead {% endblock title %} 


{% block content %}


<div class="min-h-screen bg-white flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
  </div>
  <h2 class="text-sm title-font text-gray-500 tracking-widest">
    Lead Details
  </h2>
  <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
    {{lead.first_name}} {{lead.last_name}}
  </h1>
     
  <div class="bg-white w-[70vw] h-[80vh] mx-auto pt-0 pb-20 px-0 shadow sm:rounded-lg sm:px-0">
      <div class="flex flex-row gap-x-8 justify-center mb-4">
        <a href="{% url 'leads:lead-detail' lead.pk %}"  class="  text-purple-500 border-b-4 border-purple-500 py-2 text-lg px-1">Overview</a>
        <a href="{% url 'leads:lead-update' lead.pk %}" class="border-b-2 border-gray-300 py-2 text-lg px-1">update</a>
        <a href="{% url 'leads:category-update-view' lead.pk %}" class=" border-b-2 border-gray-300 py-2 text-lg px-1" >  Category</a>
      </div>

      <div class="px-40">
        
        <div class=" py-5 px-3 bg-purple-200 mt-2 mx-2 border-l-4 rounded-md border-l-purple-500 ">
          <span class="text-purple-700 font-semibold ">first Name : </span>
          <span>{{lead.first_name}}</span>

         </div>
         <div class=" py-5 px-3 bg-purple-200 mt-2 mx-2 border-l-4 rounded-md border-l-purple-500 ">
          <span class="text-purple-700 font-semibold ">Last Name : </span>
          <span>{{lead.last_name}}</span>

         </div>
         <div class=" py-5 px-3 bg-purple-200 mt-2 mx-2 border-l-4 rounded-md border-l-purple-500 ">
          <span class="text-purple-700 font-semibold ">Age : </span>
          <span>{{lead.age}}</span>

         </div>
         <div class=" py-5 px-3 bg-purple-200 mt-2 mx-2 border-l-4 rounded-md border-l-purple-500 ">
          <span class="text-purple-700 font-semibold ">Description : </span>
          <span>{{lead.description}}</span>

         </div>
         <div class=" py-5 px-3 bg-purple-200 mt-2 mx-2 border-l-4 rounded-md border-l-purple-500 ">
          <span class="text-purple-700 font-semibold ">E-Mail : </span>
          <span>{{lead.email}}</span>

         </div>
         <div class=" py-5 px-3 bg-purple-200 mt-2 mx-2 border-l-4 rounded-md border-l-purple-500 ">
          <span class="text-purple-700 font-semibold ">Telephone No : </span>
          <span>{{lead.phone_number}}</span>

         </div>
            
          <div class=" relative text-sm top-6 ">
            <a href="{% url 'leads:lead-list' %}"
            class="font-medium text-purple-700 hover:text-purple-500">
                Go back to Leads
            </a>
          </div>
                 
      </div>
  </div>
</div>



  




<script src="https://cdn.tailwindcss.com"></script>

{% endblock content %}
