{% extends 'base.html' %}
  
{% block title %} List of Agents {% endblock title %}  




{% block content %}

{% include 'navbar.html' %}
<section class="text-gray-600 body-font">
<div class="flex justify-between pt-5 px-5">
  <h1 class="mx-4 text-3xl">Agents</h1>

 

  

  
  <div>
  <label for="addLead">Create a New Agent :</label> <a class="text-blue-600" href=" {% url 'agents:agent-create' %} " id="addLead">Click Here</a><hr>
 
 </div>

</div>
<div class="container px-5 py-6 mx-auto flex flex-wrap">
  
  <table class="min-w-full divide-y divide-purple-200 overflow-x-auto">
    <thead class="bg-purple-700">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-50 uppercase tracking-wider">
               Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-50 uppercase tracking-wider">
                age
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-50 uppercase tracking-wider">
                Category
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-50 uppercase tracking-wider">
                agent
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-50 uppercase tracking-wider">
                Email
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-50 uppercase tracking-wider">
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      {% for agent in agentList %}
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://i.pravatar.cc/150?img=1" alt="">
                </div>
                <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                        {{agent.user.first_name}} {{agent.last_name}}
                    </div>
                    
                </div>
            </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap ">
            <div class="text-sm text-gray-900 text-end ">{{agent.age}}</div>
            
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
       
                
       
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            {{agent.agent}}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            jane.cooper@example.com
        </td>
        <td class="px-6 py-4 whitespace-nowrap  text-sm font-medium">
            <a href="{% url 'agents:agent-update' agent.pk %}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
            <a href="#" class="ml-2 text-red-600 hover:text-red-900">Delete</a>
        </td>
    </tr>
      {% endfor %}
      




        <!-- More rows... -->

</section>




  
  
{% endblock content %}

