<!-- load the static files  -->
 {% load static %} <!-- do not put qutation marks around the static name -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}  {% endblock title %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!--like include,block, endblock. the static is one of them -->
      
</head>
<body>
  {% include 'navbar.html' %}
  {% block content %}
    
  {% endblock content %}
    
  
</body>
</html>


