
{% load static %}

<header class="sticky top-0 bg-white shadow">
  <div class="container flex flex-col sm:flex-row justify-between items-center mx-auto py-4 px-8">
      <div class="flex items-center text-2xl">
          <div class="w-12 mr-3">
              <img src="{% static 'img/page-icon.svg' %}" alt="">
          </div>Client Link
      </div>
      <div class="flex mt-4 gap-x-8 text-lg sm:mt-0">
      {% if request.user.is_authenticated %}
        {% if  request.user.is_organizer %}
          <a class="nav-link border-b- border-purple-500 text-gray-500  hover:text-purple-800  " href="{% url 'agents:agent-list' %}">Agents</a>
        {% endif %} 
          <a class="nav-link text-gray-500  hover:text-purple-800  " href="{% url 'leads:lead-list' %}">Leads</a>
          
      </div>
      <div class=" md:block">
       <span class="px-3 text-purple-600 ">Logged in as : {{request.user.username}}</span>
          <a type="button" href="{% url 'logout' %}"
              class=" py-3 px-6 text-sm  bg-purple-500 hover:bg-purple-700 rounded-md text-white tracking-wider ">
              logout <img src="{% static 'img/right-arrow.svg' %}" class="w-5 inline-flex" alt="">
          </a>
      </div>
      {% else %}
      <div class=" md:block">
           <a type="button" href="{% url 'login' %}"
               class=" py-3 px-6 text-sm  bg-purple-500 hover:bg-purple-700 rounded-md text-white tracking-wider ">
               login <img src="{% static 'img/right-arrow.svg' %}" class="w-5 inline-flex" alt="">
           </a>
       </div>

      {% endif %}
  </div>
</header>

